<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'/>
    <!-- 通过配置文件生成title -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=0">
    <script src="./assets/fastclick.min.js"></script>
    <script>
        !function (n, e) {
            var doc = e.document;
            var ua = navigator.userAgent;
            var matches = ua.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i);
            var UCversion = ua.match(/U3\/((\d+|\.){5,})/i);
            var isUCHd = UCversion && parseInt(UCversion[1].split('.').join(''), 10) >= 80;
            var isIos = navigator.appVersion.match(/(iphone|ipad|ipod)/gi);
            var dpr = e.devicePixelRatio || 1;
            if (!isIos && !(matches && matches[1] > 534) && !isUCHd) {
                // 如果非iOS, 非Android4.3以上, 非UC内核, 就不执行高清, dpr设为1;
                dpr = 1;
            }
            var scale = 1 / dpr;

            var metaEl = doc.querySelector('meta[name="viewport"]');
            if (!metaEl) {
                metaEl = doc.createElement('meta');
                metaEl.setAttribute('name', 'viewport');
                doc.head.appendChild(metaEl);
            }
            metaEl.setAttribute('content', "user-scalable=no,initial-scale=" + scale + ",maximum-scale=" + scale + ",minimum-scale=" + scale);

            var n = n.documentElement.clientWidth;
            if (n) {
                //hack 处理高分辨率手机显示黑线的问题
                var e = parseInt(100 * (n / 750));
                doc.documentElement.style.fontSize = e + "px";
            }
            //引入fastclick处理300ms延迟
            if ('addEventListener' in document) {
                document.addEventListener('DOMContentLoaded', function() {
                    FastClick.attach(document.body);
                }, false);
            }
            if(window.Promise) {
                document.writeln('<script src="./assets/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
            }
        }(document, window);
    </script>
    <!-- 可以在这里引入其他样式文件，业务css会自动生成在下方 -->
</head>
<body>
<div id='init'>
    <div class="load">
        <div class="loader"></div>
    </div>
</div>

<!-- 业务js代码自动生成在下方 -->
<% if(process.env.NODE_ENV !== 'dev') {%>
测试以及生产不打包react，react-dom
<script type="text/javascript" src="./assets/react.16.3.1.min.js"></script>
<%}%>
</body>
</html>